AIRTABLE_TOKEN=pat_your_token_here
AIRTABLE_BASE_ID=appnS0geRMpHaxib9
AIRTABLE_FACTURAS_TABLE_ID=tblD7MvJnqpiqKMfm
AIRTABLE_EXISTENCIAS_TABLE_ID=tblOGE7nApPr8zTsZ
AIRTABLE_CONTRATOS_VENTA_TABLE_ID=tbly2fHo6evAFY33X
AIRTABLE_ITEMS_VENTA_TABLE_ID=tblmx0d8G49Qx29LD
AIRTABLE_ITEMS_COMPRA_TABLE_ID=tblVZncIvXViG3IvO
PORT=3000
